-# Get players list from url parameter like players=a_b,c_d, default to Roger Federer etc
-# Get from-year and to-year from url
.h2
  ATP rank history
  %span.generated-note (generated at <span class='generated-at'></span>)
  %button.update Update Graph

#players

#rank-history
  %svg

= stylesheet_link_tag 'nv.d3'
= javascript_include_tag 'vendor/d3.v2.min'
= javascript_include_tag 'vendor/nv.d3.min'
= javascript_include_tag '/data/rankings'
= javascript_include_tag '/data/roger_federer_rank_history'
= javascript_include_tag '/data/rafael_nadal_rank_history'
= javascript_include_tag '/data/novak_djokovic_rank_history'
= javascript_include_tag '/data/andy_murray_rank_history'
:javascript
  window.onload = function(){
    $('.generated-at').text(rankings.generated_at);

    $.each(rankings.data, function(i, r){
      var name = r.first + ' ' + r.last;
      var value = (r.first + '_' + r.last).toLowerCase();
      $('#players').append('<div class="player"><input type="checkbox" name="player" value="' + value + '"><span>' + name + '</span></div>');
    });

    $('button.update').click(function(){
      var players = $('[name=player]:checked').map(function(){
        return this.value;
      });
      if (players.length === 0) {
        alert('No player is selected.');
      } else if (players.length === 1) {
        window.location = location.pathname + '?players=' + players[0];
      } else {
        var s = players[0];
        for (var i=1; i<players.length; i++) {
          s += ',' + players[i];
        }
        window.location = location.pathname + '?players=' + s;
      }
    });

    var playersParam = getQueryVar('players');
    var players = null;
    if (playersParam && playersParam !== '') {
      players = playersParam.split(',');
    } else {
      players = ['novak_djokovic', 'roger_federer', 'rafael_nadal', 'andy_murray'];
    }
    $.each(players, function(i, p){ $('[value=' + p + ']').click(); });
    showRankHistory(players);
  }

