#map
%p Please zoom in to see ATP500 and ATP250 tournaments.

%script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true")
:coffeescript
  loadData "tournaments", (tournaments) ->
    map = getMap()
    atp500Markers = []
    atp250Markers = []
    $.each tournaments.data, (i, tournament) ->
      return  if tournament.type is "daviscup"

      icon   = getTournamentLogo(tournament.type, tournament.name)
      zIndex = getTournamentPriority(tournament.type)
      show   = not(tournament.type in ["atp250", "atp500"])

      myLatLng = new google.maps.LatLng(tournament.latitude, tournament.longitude)
      marker = new google.maps.Marker(
        position: myLatLng
        map: (if show then map else null)
        icon: icon
        zIndex: zIndex
      )

      if tournament.type is "atp250"
        atp250Markers.push marker
      else if tournament.type is "atp500"
        atp500Markers.push marker

      label = """
        <div class="map-info">"
          <p class="tournament-name">
            <a href="http://www.atpworldtour.com\#{tournament.url}" target="_new">\#{tournament.name}</a>
          </p>
          <p>
            <span class="tournament-time">\#{tournament.start}</span>
            @ <span class="tournament-place">\#{tournament.place}</span>
          </p>
          <p class="tournament-title-holder">
            Title Holder:
            <a href="http://www.atpworldtour.com\#{tournament.title_holder.url}"
            target="_new">\#{tournament.title_holder.name}</a>
          </p>
        </div>
      """
      infoWindow = new google.maps.InfoWindow(content: label)
      google.maps.event.addListener marker, "click", ->
        infoWindow.open map, marker

    google.maps.event.addListener map, "zoom_changed", ->
      zoom = map.getZoom()
      if zoom <= 4
        $.each atp250Markers, (i, marker) ->
          marker.setMap null
      else
        $.each atp250Markers, (i, marker) ->
          marker.setMap map

      if zoom <= 3
        $.each atp500Markers, (i, marker) ->
          marker.setMap null
      else
        $.each atp500Markers, (i, marker) ->
          marker.setMap map

